<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <h1>hello world</h1>
    <div>
        test
    </div>
    <span>
        vue
    </span>
    <span>
        react
    </span>
    <div>
        <span style="color:red">
            render_template介绍
        </span>
        <span style="color:blue">
            时间：当下
        </span>
        render_template是 Flask 框架中的一个函数，用于渲染 HTML 模板并返回给客户端。
    </div>
    <div>
        <a href="https://www.baidu.com/">百度首页</a>
    </div>
    <div>
        <a href="/more" target="blank">查看更多</a>
    </div>
</body>
</html>